In [15]:
import sqlite3
import time

conn = sqlite3.connect('data.db')
curs = conn.cursor()

# apaga pra recomeçar se precisar
'''
cursor.execute("""
DROP TABLE data;
""")
'''

# criando a tabela - se precisar de mais dados, add na estrutura
curs.execute("""
CREATE TABLE IF NOT EXISTS data (
  ID_DATA INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  END_DEVICE_NAME TEXT NOT NULL,
  PH_VALUE REAL,
  TEMP_VALUE REAL,
  DATE_CREATED DATE NOT NULL
);
""")

conn.close()

In [16]:
conn = sqlite3.connect('data.db')
curs = conn.cursor()

# inserindo dados na tabela
# @TODO => mandar dados em loop e reais.
#   testar enviar datas
curs.execute("""
INSERT INTO data (END_DEVICE_NAME, PH_VALUE, TEMP_VALUE, DATE_CREATED)
VALUES ('END_DEVICE_01', 7.0, 28.0, datetime('now'))
""")

time.sleep(5)

curs.execute("""
INSERT INTO data (END_DEVICE_NAME, PH_VALUE, TEMP_VALUE, DATE_CREATED)
VALUES ('END_DEVICE_02', 7.0, 28.0, datetime('now'))
""")

conn.commit()

conn.close()

In [17]:
conn = sqlite3.connect('data.db')
curs = conn.cursor()

# lendo os dados
curs.execute("""
SELECT * FROM data;
""")

for linha in curs.fetchall():
    print(linha)

# lendo os dados de um device só
print('\nprintando uma query...\n')
devName = 'END_DEVICE_01'
curs.execute("""
SELECT * FROM data where END_DEVICE_NAME = '%s';
""" % devName)

for linha in curs.fetchall():
    print(linha)

conn.close()

(1, 'END_DEVICE_01', 7.0, 28.0, '2023-02-10 03:18:39')
(2, 'END_DEVICE_02', 7.0, 28.0, '2023-02-10 03:18:39')
(3, 'END_DEVICE_01', 7.0, 28.0, '2023-02-10 03:21:40')
(4, 'END_DEVICE_02', 7.0, 28.0, '2023-02-10 03:21:45')

printando uma query...

(1, 'END_DEVICE_01', 7.0, 28.0, '2023-02-10 03:18:39')
(3, 'END_DEVICE_01', 7.0, 28.0, '2023-02-10 03:21:40')